<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41596064593-5d6k4b55kfcp5ld75rjrv5h636sb2e7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41596064593-5d6k4b55kfcp5ld75rjrv5h636sb2e7l</string>
	<key>API_KEY</key>
	<string>AIzaSyBcsh0P2kDymUuiALoKD7IoPXvLZ9rn5rU</string>
	<key>GCM_SENDER_ID</key>
	<string>41596064593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valtech.watch.test.AYS-Watch-SwiftUI.watchkitapp.watchkitextension</string>
	<key>PROJECT_ID</key>
	<string>arduinoconsole-d6a04</string>
	<key>STORAGE_BUCKET</key>
	<string>arduinoconsole-d6a04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41596064593:ios:4df3681d9def516573b970</string>
	<key>DATABASE_URL</key>
	<string>https://arduinoconsole-d6a04-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>